// ---------------------------------------------------------------
//  Variables
// ---------------------------------------------------------------

//  Color
$color-primary:         #58e1c1;
$color-secondary:       #51ddfc;
$color-text-primary:    #777;
$color-shade:           #ccc;

$red:       #e4757a;
$green:     #63cc82;
$purple:    #927bc1;
$yellow:    #fd7856;
$white:     #fff;
$black:     #000;

// Size & Space
$base:  5px;
$x2:    10px;
$x3:    15px;
$x4:    20px;
$x5:    25px;
$x6:    30px;
$x8:    40px;

//  Font Stack
$font-stack-sans: 'Lexend', sans-serif;

//  Layout
$max-width: 1400px;


// ---------------------------------------------------------------
//  Maps / Lists
// ---------------------------------------------------------------