// ---------------------------------------------------------------
//  Variables
// ---------------------------------------------------------------

// Color
$color-text-primary:  #303030;

// Size & Space
$base:  1rem;
$x2:    2rem;
$x3:    3rem;
$x4:    4rem;

//  Font Stack
$font-stack-sans: 'Lexend', sans-serif;
